main {
    background-color: var(--branco-padrao);
    height: 100%;
    text-align: center;
    padding: 2em 0;
}

main h2 {
    text-align: center;
    padding: 0 1.5em;
    padding-bottom: 0;
}

main a {
    text-decoration: none;
    color: gray;
    transition:  .5s;
    font-weight: bolder;
}

main a:hover {
    color: var(--cor-destaque);
}
.container-cotacao {
    color: var(--branco-padrao);
    background: var(--linear-azul-roxo);
    margin: 2em 1em;
    border-radius: 10px;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.container-cotacao h3 {
    margin-bottom: .7em;
}

.container-cotacao hr {
    margin: 10px 3em;
    color: var(--branco-padrao);
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
}

form input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

form select {
    padding: 8px;
    border-radius: 5px;
    margin-top: 1em ;
}

form select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


.container-cotacao button {
    background-color: var(--azul-claro);
    margin: 2em 0;
    padding: 1em;
    color: var(--branco-padrao);
    border-radius: 10px;
    text-align: center;
    font-size: 1.1em;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    border: none;

}

.container-cotacao button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(88, 123, 199);
}

@media (min-width: 600px) {
    main {
        padding: 2em 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .container-cotacao {
        height: auto;
    }
}

@media (min-width: 900px) {
    main {
        padding: 2em 25%;
        height: 100%;
    }

    .container-cotacao {
        height: auto;
    }
}
